.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    h1{
        padding: 2rem;
        font-weight: bolder ;
    }
}
.library:hover {
  cursor: pointer;
}
.lib-song-container{
    display: flex;
    padding: 1.5rem;
    align-items: center;
    img{
        width: 30%;
        // border-radius: 50%;
    }
    .lib-song-description{
        padding: 0rem .8rem;
       
    }
}

.lib-song-container:hover{
    background-color: #e3f2fd;
}

/* Hide the default scroll bar */
::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  