.song-container {
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    h1,h2,h3{
        color: rgb(53, 53, 53);
    }
    img{
        padding: 2rem;
        object-fit:fill;
        width: 20%;
        border-radius: 50%;
    }
    h1{
        font-size: 2rem;
        margin: 1rem 1rem 1rem 1rem;
    }

}

